/* LoginPage.css */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to cover the entire viewport */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Add your background image styles here, e.g., background-image: url('your-background-image.jpg'); */
  }
  
  .login-form-container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .login-form-container h1 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  